<:Title>
  Gift List
<:Body>
  <table class="table table-hover">
    {{ _gifts.each do |toy| }}
      <tr> 
        <td> {{ toy._requested_by }} </td>
        <td> {{ toy._name }} </td>
        <td> {{ toy._requested_at }} </td>
        <td> {{ toy._longitude }} </td>
        <td> {{ toy._lattitude }} </td>
      </tr>
    {{ end }}
  </table>
