<:Title>
  Santa
<:Body>
  <button type="button" e-click="all" class="btn btn-info">All</button>
  <button type="button" e-click="test_click" class="btn btn-primary">Reindeers</button>
  <button type="button" e-click="test_click" class="btn btn-danger">Chimneys</button>
  <style>
    .google-map {
      height: 600px;
      width: 500px;
    }
  </style>
  <br/>
  <br/>
  <div class="google-map">
    <:google_maps center="{{ page._address }}" zoom="{{ page._zoom }}" markers="{{ page._markers }}" />
  </div>
