<:Title>
  Santa Gift Requester

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/">Home</:nav>
        <:nav href="/new_gift">Request Gift</:nav>
        <:nav href="/gifts">All Gifts</:nav>
      </ul>
      <h3 class="text-muted">Santa Gift Requester</h3>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; <a href='{{ Volt.config.public.company_url }}'>Qucentis</a> {{ Time.now.year }}</p>
    </div>

  </div>

<:Nav>
  <li class="{{ 'active' if active_tab? }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
