<:Title>
  Request Gift
<:Body>
  <form e-submit="request_gift">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" type="text" placeholder="Whats your name?" value="{{ page._name }}">
    </div>
    <div class="form-group">
      <label class="control-label">Gift</label>
      <input class="form-control" type="text" value="{{ page._gift }}" placeholder='What gift do you want?'>
      <br/>
    </div>
    <div class="form-group">
      <label class="control-label">Location</label>
      <select class="form-control">
        <option>Kowdiar</option>
        <option>Saathamangalam</option>
        <option>Palayam</option>
        <option>Technopark</option>
        <option>Statue</option>
      </select>
    </div>
    <button class="btn btn-info btn-block">Request</button>
  </form>
