<:Title>
  Todos
<:Body>
  <h1>Todo</h1>
  <ul>
    {{ temp = %w(ann mary) ; temp.each do |todo| }}
      <li>{{ todo }}</li>
    {{ end }}
  </ul>
  <form e-submit="add_todo" role="form">
      <div class="form-group">
        <label>Todo</label>
        <input class="form-control" type="text" value="{{ page._new_todo }}" />
      </div>
    </form>
